.tooltip-empleado {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  font-size: 0.75rem;
  z-index: 9999;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.tooltip-empleado::after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}

.historial-card:hover .tooltip-empleado {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
