.hero-section {
    background: linear-gradient(90deg, #dc3545 0%, #c82333 100%);
    color: white;
    padding: 4rem 0;
    margin-top: 56px; /* Altura de la navbar */
    margin-bottom: auto;
    position: relative;
    width: 100%;
    max-width: 100vw;
    left: 0;
    right: 0;
}
  
.hero-section .text-center {
    max-width: 1200px;         /* opcional: limita contenido centrado */
    margin: 0 auto;
    padding: 0 15px;
}

.hero-section::after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #dc3545 0%, #c82333 100%);
    clip-path: ellipse(70% 100% at 50% 0%);
}

.full-width-container {
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.turnos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 1rem;
  direction: rtl; /* orden de derecha a izquierda */
}

.turnos-grid > * {
  direction: ltr; /* evita que el texto dentro también se voltee */
  transform: scale(1); /* hace más pequeñas las tarjetas */
}

.container {
    max-width: 100vw; /* Asegura que el contenedor no exceda el ancho de la ventana */
    padding: 0 15px; /* Espaciado horizontal */
    margin: 0 auto; /* Centra el contenedor */
}