/*Estilo del contenedor del formulario*/

.formulario-container {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e9ecef;
    flex-direction: column;
    padding: 20px;
    margin-top: 6rem;
}


/*Estilo del formulario*/
.formulario-card {
    background-color: #fff;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

/*Encabezado del formulario*/
.form-header {
    background-color: #d80808;
    color: white;
    padding: 15px 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/*Datos del formulario*/
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control{
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-select {
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D'10'%20height%3D'5'%20viewBox%3D'0%200%2010%205'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M0%200l5%205%205-5z'%20fill%3D'%23666'%20/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 5px;
}

.form-select option {
    padding: 8px;
    background-color: #f8f9fa;
    color: #333;
}



/*Estilo de los botones*/

.botones-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

button {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.cancel-button {
    background-color: #f8d7da;
    color: #b02a37;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.submit-button {
    background-color: #d80808;

}