:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Cambios de color solo en elementos darkable */
.dark-mode .darkable {
  background-color: #1a1a1ace !important; /* gris oscuro */
  color: #e0e0e0 !important;           /* texto claro */
  border-color: #333 !important;       /* si tiene borde */
}

/* Inputs y botones dentro de darkable */
.dark-mode .darkable input,
.dark-mode .darkable .btn {
  background-color: #2a2a2a !important;
  color: #e0e0e0 !important;
  border-color: #555 !important;
}
.dark-mode .darkable input::placeholder {
  color: #cdc7c7 !important; /* placeholder más claro */
}

/* Etiquetas y títulos dentro de darkable */
.dark-mode .darkable label,
.dark-mode .darkable h1,
.dark-mode .darkable h2,
.dark-mode .darkable h4,
.dark-mode .darkable h5,
.dark-mode .darkable h3 {
  color: #fff !important;
}

.light-mode .darkable {
  background-color: rgba(255, 255, 255, 0.88) !important;
  color: #000 !important;
}

.light-mode .darkable label,
.light-mode .darkable h4,
.light-mode .darkable h5,
.light-mode .darkable h3 {
  color: #000 !important;
}
.dark-mode .queue-item-dark {
  background-color: #2b2b2b !important; /* gris más claro solo para QueueItem */
  color: #ffffff !important;           /* texto blanco */
  border-color: #444 !important;
}

/* Forzar que todos los textos internos sean blancos también */
.dark-mode .queue-item-dark h6,
.dark-mode .queue-item-dark small,
.dark-mode .queue-item-dark div {
  color: #ffffff !important;
}

/* Texto dentro de darkable en modo oscuro */
.dark-mode .darkable p,
.dark-mode .darkable span,
.dark-mode .darkable small {
  color: #ffffff !important;
}

.dark-mode .keep-light-text,
.dark-mode .keep-light-text span {
  background-color: #f8f9fa !important; /* mismo que bg-light de bootstrap */
  color: #212529 !important; /* mismo que text-dark de bootstrap */
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
